@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  scroll-behavior: smooth;
}
/* Add this CSS to your stylesheet */

/* Custom CSS to hide the scrollbars */
.product-container::-webkit-scrollbar {
  width: 0.4rem; /* Set a width for the scrollbar (adjust as needed) */
}

.product-container::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (background) transparent */
}

.product-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (scrollbar handle) transparent */
  border: none;
}

/* Add a hover effect for the scrollbar thumb (optional) */
.product-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Add a slight hover effect */
}

/* Custom CSS to style the slider handles */
.slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1B2E3C;
  cursor: grab;
}

/* Custom styling when the handle is active (being dragged) */
.slider-thumb:active {
  cursor: grabbing;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #1B2E3C;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Adjust the height to your preference */
  background-color: #1B2E3C; /* Color of the underline */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 100%; 
}
